SeattleSlew_WireframesScreens/SampleData/SecTypeSampleDataSource/SecTypeSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SecTypeSampleDataSource" targetNamespace="Expression.Blend.SampleData.SecTypeSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:RecordCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Record" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Record">
    <xs:attribute name="SecTypeCode" type="xs:string" />
    <xs:attribute name="SecTypeNameLong" type="xs:string" />
    <xs:attribute name="QuantityDisplayPrec" type="xs:double" />
    <xs:attribute name="IsLongZeroMV" type="xs:double" />
    <xs:attribute name="ValuationFactor" type="xs:double" />
    <xs:attribute name="IsZeroCoupon" type="xs:double" />
    <xs:attribute name="CanBeBoughtSold" type="xs:double" />
    <xs:attribute name="CanSplit" type="xs:double" />
    <xs:attribute name="CanMature" type="xs:double" />
    <xs:attribute name="IsFFX" type="xs:double" />
    <xs:attribute name="LongGainClassificationCode" type="xs:string" />
    <xs:attribute name="IncomeTypeCode" type="xs:string" />
    <xs:attribute name="LongAssetClassCode" type="xs:string" />
    <xs:attribute name="ShortAssetClassCode" type="xs:string" />
    <xs:attribute name="AmortizationMethodCode" type="xs:string" />
    <xs:attribute name="AmortizeToCode" type="xs:string" />
    <xs:attribute name="EMDRuleCode" type="xs:string" />
    <xs:attribute name="FixedIncomeTypeCode" type="xs:string" />
    <xs:attribute name="CanReinvestDividend" type="xs:double" />
    <xs:attribute name="UseAvgCost" type="xs:string" />
    <xs:attribute name="IsVRS" type="xs:double" />
    <xs:attribute name="UseSimpleInterestInLastPeriod" type="xs:double" />
    <xs:attribute name="IsInternal" type="xs:double" />
    <xs:attribute name="UseConversionFactor" type="xs:double" />
    <xs:attribute name="IsHidden" type="xs:double" />
    <xs:attribute name="PriceThruCode" type="xs:string" />
    <xs:attribute name="AlternativeAssetCode" type="xs:string" />
    <xs:attribute name="PrincipalCurrencyCode" type="xs:string" />
    <xs:attribute name="IncomeCurrencyCode" type="xs:string" />
    <xs:attribute name="RiskCountryCode" type="xs:string" />
    <xs:attribute name="PaymentFrequencyID" type="xs:double" />
    <xs:attribute name="AccrualCalendarCode" type="xs:string" />
    <xs:attribute name="PayOnMonthEnd" type="xs:double" />
    <xs:attribute name="TradeWithAI" type="xs:double" />
    <xs:attribute name="CouponDelayDays" type="xs:double" />
    <xs:attribute name="SettlementLagDays" type="xs:double" />
    <xs:attribute name="HoldingPeriod" type="xs:double" />
    <xs:attribute name="SubjectToStateTax" type="xs:double" />
    <xs:attribute name="SubjectToFederalTax" type="xs:double" />
    <xs:attribute name="DefaultSymbolTypeCode" type="xs:string" />
    <xs:attribute name="DefaultSymbolNameSpace" type="xs:string" />
    <xs:attribute name="IsExCouponBond" type="xs:double" />
    <xs:attribute name="ExCouponDayCount" type="xs:double" />
    <xs:attribute name="ExCouponHolidayCode" type="xs:string" />
    <xs:attribute name="ExCouponDayRuleCode" type="xs:string" />
    <xs:attribute name="CouponDelayRuleCode" type="xs:string" />
    <xs:attribute name="CouponDelayHolidayRuleCode" type="xs:string" />
    <xs:attribute name="IsTradingCash" type="xs:double" />
    <xs:attribute name="IsTradable" type="xs:double" />
    <xs:attribute name="IsBillable" type="xs:double" />
    <xs:attribute name="IsUnsupervised" type="xs:double" />
  </xs:complexType>
</xs:schema>