SeattleSlew_WireframesScreens/SampleData/CurrencySampleDataSource/CurrencySampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.CurrencySampleDataSource" targetNamespace="Expression.Blend.SampleData.CurrencySampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:RecordCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Record" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Record">
    <xs:attribute name="CurrencyCode" type="xs:string" />
    <xs:attribute name="ISOCode" type="xs:string" />
    <xs:attribute name="CurrencyName" type="xs:string" />
    <xs:attribute name="CurrencySymbol" type="xs:string" />
    <xs:attribute name="CurrencyPrecision" type="xs:double" />
  </xs:complexType>
</xs:schema>