SeattleSlew_WireframesScreens/SampleData/securitiesSampleDataSource/securitiesSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.securitiesSampleDataSource" targetNamespace="Expression.Blend.SampleData.securitiesSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:RecordCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecordCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Record" type="tns:Record" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Record">
    <xs:attribute name="SecType" type="xs:string" />
    <xs:attribute name="Symbol" type="xs:string" />
    <xs:attribute name="CUSIP" type="xs:string" />
    <xs:attribute name="AssetClass" type="xs:string" />
    <xs:attribute name="Exchange" type="xs:double" />
    <xs:attribute name="RiskCountry" type="xs:string" />
    <xs:attribute name="IssueCountry" type="xs:string" />
    <xs:attribute name="IndustryGroup" type="xs:double" />
    <xs:attribute name="IndustrySector" type="xs:double" />
  </xs:complexType>
</xs:schema>