SeattleSlew_WireframesScreens/SampleData/CompositeMemberSampleDataSource/CompositeMemberSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.CompositeMemberSampleDataSource" targetNamespace="Expression.Blend.SampleData.CompositeMemberSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:rowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="row" type="tns:row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row">
    <xs:attribute name="PortfolioCompositeID" type="xs:double" />
    <xs:attribute name="PortfolioCompositeCode" type="xs:string" />
    <xs:attribute name="MemberID" type="xs:double" />
    <xs:attribute name="MemberCode" type="xs:string" />
    <xs:attribute name="EntryDate" type="xs:string" />
    <xs:attribute name="Comments" type="xs:string" />
    <xs:attribute name="ExitDate" type="xs:string" />
  </xs:complexType>
</xs:schema>