SeattleSlew_WireframesScreens/SampleData/GroupMemberSampleDataSource/GroupMemberSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.GroupMemberSampleDataSource" targetNamespace="Expression.Blend.SampleData.GroupMemberSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Report" type="tns:Report" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element name="Data" type="tns:rowCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="row" type="tns:row" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="row">
    <xs:attribute name="MemberCode" type="xs:string" />
    <xs:attribute name="Name_x0020_1" type="xs:string" />
    <xs:attribute name="Name_x0020_2" type="xs:string" />
    <xs:attribute name="Name_x0020_3" type="xs:string" />
    <xs:attribute name="StartDate" type="xs:string" />
    <xs:attribute name="IsConsolidated" type="xs:boolean" />
    <xs:attribute name="Member_x0020_Type" type="xs:string" />
  </xs:complexType>
</xs:schema>